.form {
  display: grid;
  gap: 1rem;
}

.form div {
  display: grid;
  gap: 0.3rem;
}

.form label {
  font-size: 1.2rem;
}

.form input {
  padding: 0.5rem;
}

.form button {
  align-self: start;
  justify-self: start;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  background: #000;
  border-radius: 0.2rem;
  color: #fff;
  cursor: pointer;
}

.load {
  opacity: 0.6;
  cursor: initial !important;
}

.error {
  color: red;
}
