.photosContainer {
  display: grid;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.photo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
  background: #eee;
}

.photo div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.photo img {
  height: 60px;
  width: 60px;
  border-radius: 4px;
}

.photo p {
  font-size: 1.2rem;
  font-weight: 500;
}

.photo span {
  display: block;
  color: #a7a5a6;
}

.btn {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-self: end;
  cursor: pointer;
}

.postagens {
  /* justify-self: center; */
  text-align: center;
  padding: 0.5rem;
  background: #eee;
  color: #a7a5a6;
  font-size: 1.1rem;
}
