.photosContainer {
  display: grid;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.photo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
  background: #eee;
}

.photo div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.photo img {
  height: 60px;
  width: 60px;
  border-radius: 4px;
}

.photo p {
  font-size: 1.2rem;
  font-weight: 500;
}

.photo span {
  display: block;
  color: #a7a5a6;
}

.btn {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-self: end;
  cursor: pointer;
}

.postagens {
  text-align: center;
  padding: 0.5rem;
  background: #eee;
  color: #a7a5a6;
  font-size: 1.1rem;
}

.loading {
  justify-self: center;
  height: 2px;
  margin-top: 0.5rem;
  width: 120px;
  display: block;
  animation: load 0.3s infinite;
  background: #000;
}

@keyframes load {
  to {
    width: 0px;
    /* background: linear-gradient(90deg, #000 30%, #fff); */
  }
  from {
    width: 80px;
    /* background: linear-gradient(90deg, #fff 30%, #000); */
  }
}
